<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="scripts/testData.js"></script>
    </head>
    <body ng-app="quantumTestApp">

        <div ng-controller="IndexController" class="app-wrapper" layout="column" layout-align="start start">
            <div class="route-wrapper full-height" layout="column" layout-align="center center">
                <div class="md-whiteframe-z3" layout-padding layout="row" layout-align="center center">

                    <div class="treeView" tree-view="2" items="dataObject.cacheData" on-select="selectCacheItem"></div>

                    <div class="centerColumn">
                        <button ng-click="addToCache()">&laquo;</button>
                    </div>

                    <div class="treeView" tree-view="1" items="dataObject.storeData" on-select="selectItem"></div>

                </div>
                <div class="md-whiteframe-z3" layout="row" layout-padding>
                    <button ng-click="commit()">Commit</button>
                    <button ng-click="reset()">Reset</button>
                    <button ng-click="edit()">Edit</button>
                    <button ng-click="create()">+</button>
                    <button ng-click="remove()">-</button>
                </div>
            </div>
        </div>

    </body>
</html>
