<div>
    <ul>
        <li ng-repeat="id in roots">
            <div
                    tree-item="1"
                    id="id"
                    items="items"
                    children="children"
                    on-select="onSelect"
                    selected-id="selectedId"
            ></div>
        </li>
    </ul>
</div>