<div class="item pointer"
     ng-class="{'selected': isSelected(items[id]), 'removed': items[id].removed}"
     ng-click="onClick($event, items[id]);"
>
    <span ng-if="items[id].removed">(X)</span>
    <span>{{ items[id].value }}</span>
</div>

<ul ng-if="hasChildren(id)">
    <li ng-repeat="_id in children[id]">
        <div
                tree-item="1"
                id="_id"
                items="items"
                children="children"
                on-select="onSelect"
                selected-id="selectedId"
        ></div>
    </li>
</ul>